@model string
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2> Order Placed </h2>
            <h3>@Model</h3>
            For More Shopping <a asp-action="Index" asp-controller="Home"> Click Here  </a>
        </div>
    </div>
</div>