@model Country
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit form</h4>

        <form class="forms-sample" method="post" asp-action="Edit">
            <input type="hidden" asp-for="CountryID" />
            <div class="text-danger" asp-validation-summary="ModelOnly">
            </div>
            <div class="form-group">
                <label for="exampleInputUsername1">Country Name</label>
                <input class="form-control" asp-for="CountryName" id="exampleInputUsername1" placeholder="CountryName" fdprocessedid="glgnm">
                <span asp-validation-for="CountryName"></span>
            </div>

            <button type="submit" class="btn btn-primary mr-2" fdprocessedid="4m4y5">Submit</button>
            <button class="btn btn-light" fdprocessedid="dbn9w">Cancel</button>
            <a class="btn btn-info" asp-action="Index"> Back </a>
        </form>
    </div>
</div>
