@model IEnumerable<ProductReview>
<div class="product_image_area">
	<div class="container">
		@await Component.InvokeAsync("ProductDetailsVC", new { productid =ViewBag.ProductID })
	</div>
</div>

<section class="product_description_area">
	<div class="container">

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row">
					<div class="col-lg-12">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Overall</h5>
									<h4>4.0</h4>
									<h6>(03 Reviews)</h6>
								</div>
							</div>

						</div>
						<div class="review_list">
							@if (Model != null)
							{

								@foreach (var temp in Model)
								{
									<div class="review_item">
										<div class="media">

											<div class="media-body">
												<h4>@temp.User.FullName</h4>
												@for (int i = 4; i >= (int)temp.Rating; i--)
												{
													<i class="fa fa-star"></i>

												}

											</div>
										</div>
										<p>
											@temp.ReviewDesc
										</p>
									</div>
								}
							}
							else
							{
								<h2> No Reviews</h2>

							}


						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>